@{
    ViewData["Title"] = "Home Page";
}
<div class="home-container">
    <div class="text-center">
        <h1 class="home-title">Bem Vindo!</h1>
        <p class="home-content">Projeto Final de Programação WEB do Gustavo Pirondi!</p>
    </div>
</div>

