@model ProjetoFinal.DTOs.ServicoDTO
@{
    ViewData["Title"] = "Serviço";
}

<h1>Serviço</h1>

<div class="form-actions mb-4">
    <a asp-action="Listar" asp-controller="Servico"
       class="btn btn-list">
        Listar
    </a>
</div>

<form asp-action="Salvar" asp-controller="Servico" method="post">
    <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="descricao"></label>
        <input type="text" asp-for="descricao" class="form-control" placeholder="Descrição" />
        <span class="text-danger" asp-validation-for="descricao">
        </span>
    </div>

    <div class="form-group">
        <label asp-for="valorHora"></label>
        <input asp-for="valorHora" type="number" class="form-control" placeholder="0" />
        <span class="text-danger" asp-validation-for="valorHora"></span>
    </div>

    <div class="form-group">
        <label asp-for="idArea"></label>
        <div class="select-container">
            <select asp-for="idArea" class="form-control" asp-items="@(IEnumerable<SelectListItem>)ViewBag.listaArea">
                <option value="">Escolha uma categoria</option>
            </select>
        </div>
        <span class="text-danger" asp-validation-for="idArea"></span>
    </div>

    <div class="form-message">
        <span class="@ViewBag.classe">@ViewBag.mensagem</span>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
        <a asp-action="Index" asp-controller="Servico" class="btn btn-primary">
            Limpar
        </a>
    </div>

</form>

