@model ProjetoFinal.DTOs.ClienteDTO
@{
    ViewData["Title"] = "Index";
}

<h1>Cliente</h1>

<div class="col-3">
    <a asp-action="Listar" asp-controller="Cliente"
       class="btn btn-info">
        Listar
    </a>
</div>

<form asp-action="Salvar" asp-controller="Cliente" method="post">
    <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="nome"></label>
        <input type="text" asp-for="nome" class="form-control" />
        <span class="text-danger" asp-validation-for="nome">
        </span>
    </div>

    <div class="form-group">
        <label asp-for="cpf"></label>
        <input type="text" asp-for="cpf" class="form-control" />
        <span class="text-danger" asp-validation-for="cpf">

        </span>
    </div>

    <div class="form-group">
        <label asp-for="telefone"></label>
        <input asp-for="telefone" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="telefone"></span>
    </div>

    <div class="form-group">
        <label asp-for="dataNascimento"></label>
        <input asp-for="dataNascimento" type="date" class="form-control" />
        <span class="text-danger" asp-validation-for="dataNascimento"></span>
    </div>

    <div>
        <span class="@ViewBag.classe">@ViewBag.mensagem</span>
    </div>

    <div class="form-group row mt-3">
        <div class="col-3">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
        <div class="col-3">
            <a asp-action="Index" asp-controller="Cliente" class="btn btn-success">
                Novo
            </a>
        </div>
    </div>

</form>
