@model ProjetoFinal.DTOs.ClienteDTO
@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente</h1>

<div class="form-actions mb-4">
    <a asp-action="Listar" asp-controller="Cliente"
       class="btn btn-list">
        Listar
    </a>
</div>

<form asp-action="Salvar" asp-controller="Cliente" method="post">
    <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="nome"></label>
        <input type="text" asp-for="nome" class="form-control" placeholder="Nome" />
        <span class="text-danger" asp-validation-for="nome">
        </span>
    </div>

    <div class="form-group">
        <label asp-for="cpf"></label>
        <input type="text" asp-for="cpf" class="form-control" placeholder="000.000.000-00" />
        <span class="text-danger" asp-validation-for="cpf">

        </span>
    </div>

    <div class="form-group">
        <label asp-for="telefone"></label>
        <input asp-for="telefone" type="text" class="form-control" placeholder="(00) 00000-0000" />
        <span class="text-danger" asp-validation-for="telefone"></span>
    </div>

    <div class="form-group">
        <label asp-for="dataNascimento"></label>
        <input asp-for="dataNascimento" type="date" class="form-control" />
        <span class="text-danger" asp-validation-for="dataNascimento"></span>
    </div>

    <div>
        <span class="@ViewBag.classe">@ViewBag.mensagem</span>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
        <a asp-action="Index" asp-controller="Cliente" class="btn btn-primary">
            Limpar
        </a>
    </div>
</form>
