@model ProjetoFinal.DTOs.PagamentoDTO

@{
    ViewData["Title"] = "Pagamento";
}

<h1>Pagamento</h1>

<div class="form-actions mb-4">
    <a asp-action="Listar" asp-controller="Pagamento"
       class="btn btn-list">
        Listar
    </a>
</div>

<form asp-action="Salvar" asp-controller="Pagamento" method="post">
    <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="descricao"></label>
        <input type="text" asp-for="descricao" class="form-control" placeholder="Descrição" />
        <span class="text-danger" asp-validation-for="descricao">
        </span>
    </div>

    <div class ="form-message">
        <span class="@ViewBag.classe">@ViewBag.mensagem</span>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
        <a asp-action="Index" asp-controller="Pagamento" class="btn btn-primary">
            Limpar
        </a>
    </div>
</form>

